@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300&family=Inter:wght@100;700&family=Montserrat:ital,wght@0,300;0,400;0,700;1,200&family=Padauk:wght@700&family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nunito:wght@700&family=Poppins:wght@400;500;700&display=swap");
html,
body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

* {
  font-family: "Poppins", sans-serif;
}

@keyframes entrar {
  0% {
    transform: translate(500px);
  }
  25% {
    transform: translate(0px);
  }
  75% {
    transform: translate(100px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

input {
  font-size: 16px;
}

header {
  box-shadow: 0px 0px 40px -18px rgba(0, 0, 0, 0.5);
  height: 90px;
  display: flex;
  justify-content: center;
}

.container--header {
  display: flex;
  padding: 0 18px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1670px;
  width: 100%;
}

.container {
  padding-left: 18px;
  max-width: 1670px;
}

.leftSide__title {
  font-weight: 700;
  font-size: 21.6949px;
  color: var(--first-color);
}

.leftSide__title small {
  font-size: 16.2712px;
  color: var(--second-color);
}

.rightSide__btn {
  font-family: "Inter";
  font-weight: 500;
  color: #f8f9fa;
  background-color: #ff2253;
  width: 70px;
  height: 48px;
  border: 1.5px solid #ff2253;
  border-radius: 12px;
  line-height: 40px;
  text-align: center;
}

main {
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContent {
  width: 92%;
  display: flex;
  flex-direction: column;
  height: 80%;
  max-width: 542px;
}

.mainContent_Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--background-inputs);
  box-sizing: border-box;
  border-radius: 13px;
  box-shadow: 0px 0px 40px 2px rgb(0 0 0 / 25%);
  width: 100%;
  padding: 20px;
  height: 80%;
}

.titulo_forms {
  font-family: var(--font-titles-page);
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
}

.form_Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-top: 80px;
  width: 100%;
  justify-content: space-around;
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

label h3 {
  font-size: 18px;
}

.form_fields {
  width: 100%;
}

.form_email,
.form_senha,
.form_nome {
  border: none;
  border-radius: 8px;
  padding: 20px;
  transition: all ease 0.3s;
}

.form_email:focus,
.form_senha:focus,
.form_nome:focus {
  background-color: var(--background-page);
  border: none;
  outline: 0;
  box-shadow: 0px 0px 10px 0px rgba(52, 52, 52, 0.25);
}

.form_botaoLogin {
  border-radius: 5%;
  font-family: var(--font-titles-page);
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  border-radius: 10px;
  color: var(--background-page);
  background-color: var(--botoes-especiais);
  cursor: pointer;
  padding: 12px;
  width: 83px;
}

input {
  background-color: var(--background-inputs);
  color: var(--text-page);
  border: 1.5px solid #dee2e6;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
  border: none;
  background-color: var(--background-page);
}

.option_auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
  justify-content: end;
}

.ou {
  font-family: var(--font-titles-page);
  font-style: normal;
  font-weight: 600;
  margin-bottom: 25px;
}

.optionRegister {
  background-color: var(--botoes-especiais);
  border: 1px solid var(--botoes-especiais);
  color: var(--background-page);
  font-family: var(--font-titles-page);
  font-style: normal;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  padding: 17px;
  font-size: 19px;
}

/*MODAL CADASTRO---------*/

.modal_container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal_container.show {
  display: flex;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px;
  position: relative;
  border: 1px solid var(--background-inputs);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 40px 2px rgb(0 0 0 / 25%);
  width: 60%;
  min-width: 300px;
  height: 75%;
  background-color: var(--background-page);
  position: absolute;
  max-width: 634px;
}

.show .modal {
  animation: modal 0.9s;
}

.form_Cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.form_botaoCadastro {
  width: 60%;
  height: 10%;
  font-family: var(--font-titles-page);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  border-radius: 10px;
  color: var(--background-page);
  background-color: var(--botoes-especiais);
}

.fechar_modal {
  position: absolute;
  top: -14px;
  right: -17px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: var(--botoes-especiais);
  color: var(--background-page);
  font-family: var(--font-titles-page);
  font-weight: 600;
  font-size: 1.2em;
  line-height: 30px;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 30%);
}

.nomeInput {
  font-family: var(--font-titles-page);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: #454545;
  margin-right: 85%;
  margin-bottom: 0%;
}

.warning {
  display: flex;
  flex-direction: column;
  width: 275px;
  height: 152px;
  position: absolute;
  top: 73px;
  right: 12px;
  background: #fff;
  border-radius: 11px;
  animation-name: entrar;
  animation-duration: 1s;
  z-index: 99;
  border: 3px solid #f8f9fa;
}

.warning__status {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 28px;
  width: 100%;
  background: #f8f9fa;
  border-radius: 8px 8px 0px 0px;
}

.warning__title {
  font-weight: 500;
  font-size: 14px;
}

.warning__close {
  width: 31px;
  height: 30px;
  background: #e9ecef;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 14px;
  color: #868e96;
}

.warning__message {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0px 28px;
  font-weight: 400;
  font-size: 14px;
  color: #212529;
}

.warning__bar {
  width: 100%;
  height: 8px;
  background: #39df8f;
  border-radius: 0px 0px 8px 8px;
  transition: width 6s linear;
}

@media (min-width: 680px) {
  .warning {
    width: 496px;
    height: 174px;
  }
}

@media (min-width: 710px) {
  .rightSide__search {
    position: absolute;
    right: 80px;
  }
  .rightSide__field {
    min-width: 342px;
  }
}

@media (min-width: 900px) {
  .rightSide__btn,
  .form_botaoLogin,
  .optionRegister {
    transition: all ease 0.5s;
    border-color: var(--botoes-especiais);
  }
  .rightSide__btn:hover,
  .form_botaoLogin:hover,
  .optionRegister:hover {
    color: var(--botoes-especiais);
    background-color: #f8f9fa;
  }
}

@media (min-width: 1000px) {
  .warning {
    top: unset;
    bottom: 50px;
    right: 28px;
  }
}
