/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --first-color: #212529;
  --second-color: #ff2253;
  --third-color: #e9ecef;
  --fontColor: #868e96;
  --bakery: #fff7f4;
  --fruits: #fff1f4;
  --drinks: #f3eef5;
  --add-button: #e4f7ef;
  --add-button-hover: #18e791;
  --cart--button: #f8f9fa;
  --bg-body: #fafafa;
  --titulos-page: #212529;
  --font-titles-page: "Inter", sans-serif;
  --text-page: #868e96;
  --background-page: #ffffff;
  --background-inputs: #eff0f0;
  --botoes-especiais: #ff2253;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: 0;
  list-style: none;
}

button,
a {
  cursor: pointer;
}

@media (min-width: 900px) {
  .rightSide__btn {
    transition: all ease 0.5s;
    border-color: var(--botoes-especiais);
  }
  .rightSide__photo,
  .menuProfile__btn {
    transition: all ease 0.5s;
    cursor: pointer;
  }

  .menuProfile__btn {
    border-color: var(--cart--button);
  }
  .rightSide__btn:hover {
    color: var(--botoes-especiais);
    background-color: #f8f9fa;
  }
  .rightSide__photo:hover {
    transform: scale(1.1);
  }

  .menuProfile__btn:hover {
    color: var(--cart--button);
    background-color: var(--first-color);
  }
}
