@media screen and (min-width: 600px){
    .headerAuth{
        box-shadow: 0px 0px 10px 2px rgba(52, 52, 52, 0.25);
    }

    .logo{
        font-size: 100%;
        line-height: 40px;
        margin-left: 4.5%;
    }

    .logo_food{
        font-size: 70%;
        line-height: 20px;
        margin-left: 0.2%;
        margin-top: 0.1%;
    }

    .goHome{
        margin-left: 75%;
    }
    
    .mainContent{
    width: 60%;
    height: 60%;
    margin-left: 20%;
    }

    .mainContent_Login{
        margin-top: 5%;
        width: 50%;
        height: 80%;
    }

    .modal{
    width: 40%;
    min-width: 300px;
    height: 75%;
    margin-top: 20%;
    padding: 4%;
    justify-content: space-evenly;
    }

    .option_auth{
        margin-top: 3%;
        width: 100%;
    }

    .optionRegister{
        margin-top: 2%;
        font-size: 18px;
        line-height: 35px;

        width: 30%;
    }

    .form_Cadastro{
        width: 80%;
        height: 100%
        
    }
    
    .form_email, .form_senha, .form_nome{
        width: 100%;
        height: 60px;
    }

    .form_email:focus, .form_senha:focus, .form_nome:focus{
        height: 70px;
    }

    .form_botaoLogin{
       width: 65%;
       height: 50px;
       font-size: 20px;
    }

    .form_botaoCadastro{
        width: 60%;
        height: 50px;
        font-size: 20px;
    }


}